site_name: SSMS (Sequential Sampling Model Simulators)
repo_name: lnccbrown/ssm-simulators
repo_url: https://github.com/lnccbrown/ssm-simulators
site_url: https://lnccbrown.github.io/ssm-simulators
edit_uri: edit/main/docs

nav:
  - Home:
      - Overview: index.md
  - Getting Started:
      - Basic Tutorial: basic_tutorial/basic_tutorial.ipynb
  - Core Tutorials:
      - Package Overview: core_tutorials/tutorial_capabilities.ipynb
      - Configuration Systems: core_tutorials/tutorial_configs.ipynb
      - Custom Models: core_tutorials/tutorial_custom_models.ipynb
      - Data Generators: core_tutorials/tutorial_data_generators.ipynb
      - KDE Class: core_tutorials/kde_class.ipynb
      - PyDDM Integration: core_tutorials/tutorial_simulators_vs_pyddm.ipynb
  - Contributing:
      - Contribute New Models: contributing/add_models.md
      - Contribute Parameter Adapters: contributing/add_parameter_adapters.md

  - API:
      - ssms: api/ssms.md
      - basic simulators: api/basic_simulators.md
      - config: api/config.md
      - data generators: api/dataset_generators.md
      - support utils: api/support_utils.md

plugins:
  - search
  - autorefs
  - mkdocs-jupyter:
      execute: True
      # execute_ignore:
      #   - basic_tutorial/basic_tutorial.ipynb
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://mkdocstrings.github.io/objects.inv
            - https://mkdocstrings.github.io/griffe/objects.inv
          options:
            show_submodules: true
            separate_signature: true
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true
            docstring_style: "numpy"
            docstring_section_style: "list"
            show_root_members_full_path: true
            show_object_full_path: false
            show_category_heading: true
            show_signature_annotations: false
            show_source: false
            group_by_category: false
            signature_crossrefs: true

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.top
    - content.code.copy
    - content.action.view
    - content.action.edit
    - header.autohide
    - announce.dismiss
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to dark mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to light mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to automatic mode

extra:
  homepage: "https://lnccbrown.github.io/ssm-simulators/"

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
